<article class="static-page leaderboard-page">
  <header class="container">
    <h1 class="page-title">[:] BugHunt</h1>
  </header>
  <section class="container">
    <div class="description">
      <h2>Description</h2>
      <p>
        This is a contest consisting of weekly challenges. Each challenge is some code with one intentional bug. The goal is to find the bug. Simple! The bug may be a single line, or a contiguous section of code. This is a contest consisting of a new challenge every week. Each directory contains a different challenge. Please note, odious coding style or "unusual" design choices do not count as bugs. Forgive us.
      </p>
      <p>
        Points are awarded by how quickly you solve the challenge. The maximum points for a challenge is 7. To get 7 points, your last submission must be correct and must have been submitted within 24 hours of the start of the challenge. For every 24 hour period after the start of the challenge, 1 point is deducted from the maximum. This means if you answer correctly on the last day, you get 1 point.
      </p>
      <p>
        The first contest runs for 12 weeks.
      </p>

      <a href="https://github.com/srcclr/bughunt">View full description</a>
    </div>
    <div {{bind-attr class="loading:hide"}}>
      {{ outlet }}
    </div>
  </section>
</article>
