<article class="static-page leaderboard-page">
  <header class="container">
    <h1 class="page-title">[:] BugHunt</h1>
  </header>
  <section class="container">
    {{partial "leaderboard/description"}}

    {{partial "leaderboard/board"}}
  </section>
</article>
