<!DOCTYPE html>
<html>
<head>
  <title>Leaderboard</title>
  <%= stylesheet_link_tag    "leaderboard/application", media: "all" %>
  <%= javascript_include_tag "leaderboard/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
