<div class="leaderboard">
  <h1>Leaderboard</h1>

  <table class="topic-list">
    <tr class="topic-list-item">
      <th>Rank</th>
      <th>Username</th>
      <th>Total</th>
    </tr>
    <tbody>
      {{#each board in boards}}
        <tr class="topic-list-item">
          <td>{{board.id}}</td>
          <td>{{board.username}}</td>
          <td>{{board.id}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
