<div class="description">
  <p>
    This is a contest consisting of weekly challenges. Each challenge is some code with one intentional bug. The goal is to find the bug. Simple! For more details please refer to the
    <a href="https://github.com/srcclr/bughunt">repository.</a>
  </p>
</div>
